$dark: #0a2e36;
$red: #95190c;
$green: #26c426;
$white: #ffffff;
$yellow: #ffc53a;
header {
  padding: 4.5em 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    max-width: 14ch;
    width: 100%;
    margin: 0 auto;
    font-size: 34px;
    font-weight: 800;
    line-height: 0.95;
    text-align: center;
  }
  h1 span {
    display: block;
    color: $green;
  }
  p {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 8px 0.5em;
    text-align: center;
    font-size: 13px;
  }
  .ctas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cta {
      margin: 5px 0;
      padding: 0.33em 0;
      max-width: 240px;
      width: 90%;
      border-radius: 30px;
      border: 2px solid transparent;
      background-color: $yellow;
      color: $dark;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
    .cta:last-of-type {
      background-color: transparent;
      color: $white;
      border-color: $white;
    }
  }

  img {
    width: 320px;
  }
  @media (min-width: 425px) and (max-width: 768px) {
    h1 {
      font-size: 38px;
    }
    p {
      font-size: 15px;
    }
  }
  @media (min-width: 769px) {
    flex-direction: row-reverse;
    margin-bottom: 3em;
    h1 {
      font-size: 42px;
    }
    p {
      padding: 0.5em 0 0.75em;
      font-size: 17px;
    }
    .ctas {
      flex-direction: row;
      justify-content: space-between;
      .cta {
        margin: 0 5px;
        font-size: 20px;
      }
    }
    img {
      max-width: 450px;
      width: 85%;
    }
  }
  @media (min-width: 1439px) {
    h1 {
      font-size: 52px;
    }
    p {
      max-width: 550px;
      font-size: 19px;
    }
    .ctas {
      justify-content: space-evenly;
      .cta {
        font-size: 22px;
      }
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  @media (min-width: 1800px) {
    width: 100%;
    .rightTop,
    .leftBottom {
      width: 50%;
    }
    h1 {
      font-size: 68px;
    }
    p {
      font-size: 22px;
    }
    .ctas {
      .cta {
        max-width: 300px;
        font-size: 30px;
      }
    }
  }
}
