$dark: #0a2e36;
$red: #95190c;
$green: #26c426;
$white: #ffffff;
$yellow: #ffc53a;
header {
  padding: 1em calc(8vw - 15px) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 0.95;
    text-align: center;
  }
  h1 span {
    color: $green;
  }
  p {
    padding: 8px 0;
    text-align: center;
    font-size: 13px;
  }
  .ctas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cta {
      margin: 5px 0;
      padding: 0.33em 0;
      width: 90%;
      border-radius: 30px;
      border: 2px solid transparent;
      background-color: $yellow;
      color: $dark;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
    .cta:last-of-type {
      background-color: transparent;
      color: $white;
      border-color: $white;
    }
  }

  img {
    width: 300px;
  }
}
