header {
  padding: 4.5em 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  max-width: 14ch;
  width: 100%;
  margin: 0 auto;
  font-size: 34px;
  font-weight: 800;
  line-height: 0.95;
  text-align: center;
}

header h1 span {
  display: block;
  color: #26c426;
}

header p {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 0.5em;
  text-align: center;
  font-size: 13px;
}

header .ctas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .ctas .cta {
  margin: 5px 0;
  padding: 0.33em 0;
  max-width: 240px;
  width: 90%;
  border-radius: 30px;
  border: 2px solid transparent;
  background-color: #ffc53a;
  color: #0a2e36;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

header .ctas .cta:last-of-type {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

header img {
  width: 320px;
}

@media (min-width: 425px) and (max-width: 768px) {
  header h1 {
    font-size: 38px;
  }
  header p {
    font-size: 15px;
  }
}

@media (min-width: 769px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 3em;
  }
  header h1 {
    font-size: 42px;
  }
  header p {
    padding: 0.5em 0 0.75em;
    font-size: 17px;
  }
  header .ctas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .ctas .cta {
    margin: 0 5px;
    font-size: 20px;
  }
  header img {
    max-width: 450px;
    width: 85%;
  }
}

@media (min-width: 1439px) {
  header h1 {
    font-size: 52px;
  }
  header p {
    max-width: 550px;
    font-size: 19px;
  }
  header .ctas {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .ctas .cta {
    font-size: 22px;
  }
  header img {
    display: block;
    max-width: 100%;
  }
}

@media (min-width: 1800px) {
  header {
    width: 100%;
  }
  header .rightTop,
  header .leftBottom {
    width: 50%;
  }
  header h1 {
    font-size: 68px;
  }
  header p {
    font-size: 22px;
  }
  header .ctas .cta {
    max-width: 300px;
    font-size: 30px;
  }
}
/*# sourceMappingURL=Header.css.map */