* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 4.5em;
  background-color: #0a2e36;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
